/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

#map {
  width: 1600px;
  height: 1600px;
  position: fixed;


  border: 1px solid black;
}

. map{
  /*background: black;*/
  opacity: 0.5;
}

.player {

}
